<!--
/* 
		<!-- When you set mybox-sizing: border-mybox; on an element, the padding and border of that element no longer increase its width (* selector = all elements) -->
	*/
* { box-sizing: border-box;} 
	body { 
        background-image: url('../../../images/whittile.jpg'); 
		height: 100%;		/* <!-- use the full length of the window --> */
        margin: 10px;		/* <!-- move the body 10pixels from the window on all four sides --> */
        font-size: 1.5vw;  	/* <!-- Use of percentage values, or values in ems, leads to more robust and cascadable style sheets --> */
    }
	
	/* <!--the mycontainer is the entire body of the page --> */
	/* <!--the mybox is where the used for the section title and holds mybox --> */
	/* <!--the mytab is where the btns reside #3399ff;--> */
	
    .mycontainer, .mybox {
        border: 5px solid blue;
        border-style: outset;
		border-radius: 10px;
		box-shadow: 5px 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 5px 15px;	
		padding: 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 1.5vw;
		font-weight: 900;
        
    }
    
    .mycontainer {
		width: 95%;
	}
	
	.mybox {
		background: lightskyblue;
		width: 100%;
	}
	
 
	
    /* <!-- mytab sections contains the link buttons --> */
    .mytab {
        border: 4px inset white;
		border-radius: 20px;
        background-color: blue;
		margin: 5px 10px;
		padding: 5px 10px;
        width: 100%;				/* <!-- mytab width covers the entire width of mybox less margin --> */

    }
	
	/* <!-- set a base for document paragraphs --> */
    .mytab p {
		width:15%;					/* <!-- each p element will set its own sizing, depending on window width --> */
		display: inline-block;		/* <!-- inline-block allows a width and height on the element. Also, the top and bottom margins/paddings are respected--> */ 
		background-color: lightskyblue;
		border: 3px outset black;	/* <!-- give the "css buttons" a 3d appearance --> */
        border-radius: 12px;		/* <!-- all corners have the same rounded appearance --> */
        box-shadow: 3px 3px;		/* <!-- assist the border with the 3d appearance --> */
		margin: 10px 5px 15px 0;	/* <!-- top right bottom left --> */
	}
	/* <!-- the paragraphs within the section determine the width of the .btn class --> */
	#section p {
		width: 19%;
	}
	
	#district p {
		width: 24%;
	}
	
	#pubs p, #vethealth p, #organizations p,   {
		width: 32%;
	}
	
	/* <!-- both the .btn class and the anchors will fill the paragraphs --> */
	a {
		width: 100%;
	}
	

	/* <!-- Style the basic .btn class; These CSS features make the class act like a button --> */
	.btn {
        border: 2px outset navy;
		border-radius: 10px;
		overflow: hidden;
        cursor: pointer;
        padding: 10px;
        transition: 0.3s;
        font-size: 1.1vw;
		font-weight: 600;
        width: 100%;
		height: 100%;
		display: inline-block;
		color: black;
		vertical-align: middle;
		text-align: center;
}

	
	
	/* **********<!-- pseudo classes for the links, btns -->********** */
	/* <!-- Note: a:hover MUST come after a:link and a:visited in the CSS definition in order to be effective! a:active MUST come after a:hover in the CSS definition in order to be effective! Pseudo-class names are not case-sensitive.
	--> */
	a:link {
		text-decoration: none;
	}
	a:visited {
		color: black;
	}
    a:hover  {
        background-color: navy;
        color: white;
	}   
	/* <!-- here for completeness - when does the active pseudo class show?? --> */
	a:active {
		border-top-color: #1b435e;
		background: #1b435e;
	}

	/* ********** <!-- @media rule: Media queries can be used to check many things, such as: width and height of the viewport.--> ********** */
    /* <!-- setting width for smaller screens using Media queries --> */
	 
	@media (max-width: 1400px){
		.mybox {
			width: 95%;
			font-size: .9vw;
			font-weight: 800;
		}		
		
		.btn {
			font-size: .9rem;
			font-weight: 800;
		}

	}	
	
	@media (max-width: 1210px){
		.mybox {
			width: 95%;
			font-size: .8rem;
			font-weight: 700;
		}		
		
		.btn {
			font-size: .8rem;
			font-weight: 700;
		}

	}	
	
	@media (max-width: 1115px){
		.mybox {
			width: 95%;
			font-size: .7rem;
			font-weight: 600;
		}		
		
		.btn {
			font-size: .7rem;
			font-weight: 600;
		}

	}	
	

	@media (max-width: 1050px){
		mycontainer {
			background-image: url('http:www.vfw10125.org//uploads/documents/images/snow.jpg');
			background-color: lightgray;
		}			
        
		.mybox { 
			width: 95%;
			font-size: .9rem;
			font-weight: 800;
		}

		.btn {
			font-size: .9rem;
			font-weight: 800;
		}

		

		#section p, #district p {
			width: 32%;
		}
	
		#pubs p, 
		#vethealth p, 
		#organizations p,  
		/* #other p {
			width: 100%; */
		}

	}
	
	@media (max-width: 775px){
			#section p, #district p {
			width: 48%;
		}

	
	
	}
	
	
	@media (max-width: 735px){
        
		
		
		.mybox { 
			width: 95%;
			font-size: .8rem;
			font-weight: 700;
		}
        .mytab btn {
			font-size: .8rem;
			font-weight: 700;
		}

		#section p, #district p {
			width: 48%;
		}
		
	}
		
	@media (max-width: 680px){
        .mybox { 
			width: 95%;
			font-size: .7rem;
			font-weight: 300;
		}
		 .mytab p {
			width:30%;
		}
        .mytab btn {
			font-size: .7rem;
		} 
	}
	
	@media (max-width: 525px){

        .mybox { 
			width: 95%;
			font-size: .8rem;
			font-weight: 700;
		}
		.mytab p {
			width:30%;
		}
        .mytab btn {
			font-size: .8rem;
			font-weight: 700;
		} 

		#section p,
		#organizations p,  
		#district p, 
		#pubs p, 
		#vethealth p, 
		#other p {
			width: 98%;
		}
	}